<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPhotoLibraryUsageDescription</key>
<string>Our app needs access to your photo library so you can select a photo for your blog post.</string>
<key>NSCameraUsageDescription</key>
<string>Our app needs access to your camera so you can take a photo for your blog post.</string>
<key>NSMicrophoneUsageDescription</key>
<string>Our app needs access to your microphone if you wish to record video with sound.</string> <!-- Good to have even if you only use photos -->
   <true/>
</dict>
</plist>
